// Глобольные настройки для шрифта
$font: "Open Sans", "Arial", sans-serif; ;
$font-size: 18px;
$line-height: 30px;

// Настройки цвета
$white: #fff;
$header-color: #283645;
$black: #000;
$color-link: #d22856;
$color-bg: #f2f2f2;

// Размеры экрана
$mobile: 320px;
$mobile-max: 659px;
$tablets: 660px;
$tablets-max: 959px;
$desktop: 960px;
